#hero-section {
  position: relative;
}

#hero-section .arrow {
  position: absolute;
  top: 50%;
  background-color: var(--color-title-secondary);
  border: none;
  border-radius: 50%;
  padding: 18px 20px;
  transition: all background 150ms ease;
  opacity: 0.6;
  cursor: pointer;
  z-index: 10;
}

#hero-section .arrow:active {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

@media (hover: hover) {
  #hero-section .arrow:hover {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}

.arrow.right img {
  transform: rotate(-90deg);
}

.arrow.left img {
  transform: rotate(90deg);
}

#hero-section .arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

#hero-section .arrow.left {
  left: 20px;
}

#hero-section .arrow.right {
  right: 20px;
}
