:root {
  --color-primary: #ed1c24;
  --color-secondary: #dee2e6;
  --color-tertiary: #8b8b8b;

  --color-form: #d9d9d9;

  --color-title: #212529;
  --color-text: #343a40;
  --color-title-secondary: #f8f9fa;
  --color-text-secondary: #dee2e6;
}
