#mini-card-container {
  background: white;
  display: flex;
  max-width: 464px;
  padding: 10px 60px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#mini-card-container h3 {
  display: flex;
  gap: 5px;
  font-style: italic;
  font-weight: 400;
  color: var(--color-primary);
  margin-bottom: 10px;
}

#mini-card-container p {
  font-style: italic;
}

@media (max-width: 550px) {
  #mini-card-container {
    padding: 10px 15px 16px;
  }
}
