:root {
  --font-family-body: 'Inter', sans-serif;
  --font-family-heading: 'Noto Serif', sans-serif;

  --font-size-base: 1rem; /* 16px */
  --font-size-subtitle: 1.5rem; /* 24px */
  --font-size-card-title: 2rem; /* 32px */
  --font-size-title: 3rem; /* 48px */
}
