.background-1-obras {
  background: url(../../../assets/images/obras/barragens/pedras-altas/1.png) 50% /
      cover no-repeat,
    #d9d9d9;
}

.background-2-obras {
  background: url(../../../assets/images/obras/barragens/barra-choca/3.png) 50% /
      cover no-repeat,
    #d9d9d9;
}
