#image-1-barra-choca {
  background: url(../../../../assets/images/obras/barragens/barra-choca/3.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 497px;
}

#image-2-barra-choca {
  background: url(../../../../assets/images/obras/barragens/barra-choca/4.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}

#image-3-barra-choca {
  background: url(../../../../assets/images/obras/barragens/barra-choca/2.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}

#image-4-barra-choca {
  background: url(../../../../assets/images/obras/barragens/barra-choca/1.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}
