#header {
  position: relative;
  z-index: 100;
  padding-inline: 20px;
}

#header-navbar {
  position: relative;
  z-index: 101;
}

#header-navbar-list {
  position: relative;
  display: flex;
  gap: 37px;
  margin-block: 22px;
}

#header-navbar-list a {
  color: var(--color-text);
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 150ms ease-in-out;
}

#header-navbar-list li {
  display: flex;
  align-items: center;
  transition: all 150ms ease-in-out;

  padding: 10px 15px;
}

#header-navbar-list > li:nth-child(3) {
  margin-right: 102px;
}

#header-navbar-list > li:hover {
  transform: scale(1.1);
}

.has-arrow {
  background-color: white;
  border-radius: 4px 4px 0 0;
  transition: all 150ms ease-in-out;
}

.has-arrow:hover {
  box-shadow: -1px -4px 6px 0 rgba(0, 0, 0, 0.1);
}

#header-navbar-list li img {
  margin-left: 3px;
  transition: all 150ms ease-in;
}

#header-navbar-list li:hover .header-arrow {
  transform: rotate(-180deg);
}

#logo {
  position: absolute;
  left: 478px;
  top: -17px;
  z-index: 1000;
}

#btn-mobile {
  display: none;
}

body.menu-aberto,
html.menu-aberto {
  overflow: hidden;
}

@media (max-width: 1080px) {
  #header-navbar-list {
    gap: 17px;
  }

  #header-navbar-list li a {
    font-size: var(--font-size-base);
  }

  #header-navbar-list > li:nth-child(3) {
    margin-right: 60px;
  }

  #logo {
    left: 372.5px;
    top: -9px;
  }

  #logo img {
    height: 95px;
    width: auto;
  }
}

@media (max-width: 850px) {
  #header-navbar-list {
    gap: 0;
  }

  .header-arrow {
    width: 16px;
    height: auto;
  }

  #header-navbar-list li {
    padding: 9px 12px;
  }

  #logo {
    left: 305px;
    top: -5px;
  }

  #logo img {
    height: 75px;
    width: auto;
  }
}

@media (max-width: 690px) {
  #btn-mobile {
    display: block;
    border: none;
    padding: 5px 6px;
    border-radius: 50%;
    position: relative;
    z-index: 1001;
    cursor: pointer;
    width: 50px;
    height: auto;
    order: 1;
  }

  #btn-mobile img {
    width: 100%;
  }

  #header {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
  }

  #header-navbar-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    padding: 40px 20px 20px 20px;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;

    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.3s;
  }

  #header-navbar.ativo #header-navbar-list {
    transform: translateX(0);
    visibility: visible;
  }

  #header-navbar-list li a {
    font-size: var(--font-size-card-title);
  }

  .header-arrow {
    width: 20px;
  }

  #header-navbar-list > li:nth-child(3) {
    margin-right: 0;
  }

  #header-navbar-list li {
    position: static;
    margin-top: 0;
    align-self: flex-start;
    order: 1;
  }

  #header-navbar {
    display: flex;
    justify-content: space-between; /* Logo na esquerda, botão na direita */
    align-items: center;
    width: 100%;
  }

  #logo {
    position: static;
    left: auto;
    top: auto;
    z-index: 1001;
    order: 2;
  }
  #logo img {
    height: 45px;
    width: auto;
  }
}
