body#contato main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h1-contato {
  margin-top: 60px;
  font-size: var(--font-size-title);
}

#text-contato {
  margin-top: 15px;
  color: #8b8b8b;
}

#h1-contato,
#text-contato {
  text-align: center;
}

/* Form */
#formContato {
  display: grid;
  max-width: 600px;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  padding: 24px;
  border: 2px solid var(--color-form);
  border-radius: 8px;
  margin-top: 20px;
}

#formNome,
#formEmail,
#formMessagem {
  grid-column: 1 / 3;
}

#select {
  position: relative;
  grid-row: 1;
  grid-column: 4 / -1;
  align-self: end;
}

#formAssunto {
  position: relative;
}

#formArquivo {
  display: none;
  grid-row: 2;
  grid-column: 4 / -1;
  align-self: end;
}

#formArquivo.mostrar {
  display: block;
}

#formBtn {
  grid-column: 4 / -1;
  height: 80px;
  align-self: end;
}

#formContato input {
  margin-top: 8px;
}

#formContato label {
  display: block;
}

#formContato input,
#formMessagem textarea {
  border: 1px solid var(--color-form);
  border-radius: 8px;
  padding: 10px 12px;
  color: var(--color-text);
}

#formContato input:focus,
#formMessagem textarea:focus {
  border-color: var(--color-primary);
}

input:focus,
textarea:focus {
  outline: none;
}

#formContato input::placeholder {
  color: var(--color-tertiary);
  opacity: 50%;
}

#formArquivo {
  position: relative;
  align-self: end;
}

input[type='file'] {
  display: none;
}

label[for='file'] {
  font-size: var(--font-size-base);
  text-align: center;
}

#formArquivo span {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 12px;
  top: 100%;
  margin-top: 4px;
  color: var(--color-tertiary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#formBtn {
  margin-bottom: 5px;
}

#select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--color-form);
  border-radius: 8px;
  padding: 10px 12px;
  color: var(--color-text);
}

#assunto:focus + #select-button,
#assunto:checked + #select-button {
  border-color: var(--color-primary);
}

#select-button img {
  transition: transform 150ms ease-out;
}

#assunto:checked + #select-button img {
  transform: rotate(180deg);
}

#assunto {
  all: unset;

  position: absolute;
  inset: 0;
  opacity: 0;

  cursor: pointer;
  z-index: 3;
}

#options {
  position: absolute;
  display: none;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-form);
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  top: 45%;
  left: 5%;
  z-index: 5;
  font-size: 14px;
}

.option {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-inline: 5px;
  border-radius: 4px;
}

.option img {
  display: none;
  width: 0.3rem;
  height: auto;
  margin-left: auto;
}

.option:has(input:focus) {
  outline: 1px solid var(--color-form);
}

.option:has(input:checked),
.option:hover {
  background-color: var(--color-form);
}

.option:has(input:checked) img {
  display: block;
}

.option input[type='radio'] {
  all: unset;

  position: absolute;
  inset: 0;
  opacity: 0;

  cursor: pointer;
  z-index: 3;
}

#formAssunto:has(#assunto:checked) + #options {
  display: flex;
}

label[for='assunto'] {
  margin-bottom: 8px;
}

@media (max-width: 560px) {
  #formContato {
    grid-template-columns: 1fr;
  }

  #formNome,
  #formEmail,
  #formMessagem,
  #select,
  #formArquivo,
  #formBtn {
    grid-column: 1;
    grid-row: auto;
  }

  #h1-contato {
    line-height: 1.2;
  }
}
