main {
  margin-bottom: 60px;
}

.container {
  max-width: 1512px;
  margin-inline: auto;
  padding-inline: 40px;
}

#banner {
  height: 332px;
  background-color: #d9d9d9;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-img1 {
  background-image: url(../assets/images/banner/1.png);
}

.banner-img2 {
  background-image: url(../assets/images/banner/2.png);
}

.banner-img3 {
  background-image: url(../assets/images/banner/3.png);
}

.banner-img4 {
  background-image: url(../assets/images/banner/4.png);
}

.banner-img5 {
  background-image: url(../assets/images/banner/5.png);
}

.banner-img6 {
  background-image: url(../assets/images/banner/6.png);
}

#info-1 {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  align-items: start;
}

#info-1 h1 {
  grid-column-start: 1;
  grid-column-end: 9;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

#info-1 p {
  grid-column-start: 1;
  grid-column-end: 9;
}

#info-1 .info-ol-list {
  grid-column-start: 1;
  grid-column-end: 9;
}

#info-1 .info-ol-list ol {
  margin-top: 10px;
  list-style-type: decimal;
}

#info-1 .info-ul-list {
  grid-column-start: 1;
  grid-column-end: 9;
}

#info-1 .info-ul-list-2 {
  grid-column-start: 1;
  grid-column-end: 9;
}

#info-1 .info-ul-list-3 {
  grid-column-start: 1;
  grid-column-end: 9;
}

#info-1 .info-ul-list ul {
  margin-top: 10px;
  list-style-type: decimal;
}

#info-1 #mini-card-container {
  grid-row: 1 / span 3;
  align-self: start;
  grid-column-start: 9;
  grid-column-end: -1;
}

#info-1 #clientes-logo {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  grid-column-start: 1;
  grid-column-end: 9;
}

#clientes-logo::-webkit-scrollbar {
  display: none;
}

main #main-title {
  font-size: var(--font-size-title);
  margin-top: 90px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.main-container h1 {
  grid-column: 1 / -1;
}

#main-images {
  grid-column: 1 / 6;
}

#main-images,
.image-1 {
  grid-column: 1 / 7;
}

#image-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.image-2 {
  grid-column: 1 / 3;
}

.image-3 {
  grid-column: 3 / 5;
}

.image-4 {
  grid-column: 5 / 7;
}

#main-info {
  grid-column: 7 / -1;
}

#main-info h2 {
  font-size: var(--font-size-card-title);
  margin-bottom: 40px;
}

#main-info p:not(:last-child) {
  margin-bottom: 20px;
}

#modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

#modal:focus {
  outline: none;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

#modal img {
  max-width: 90vw;
  max-height: 90vh;
}

@media (max-width: 1000px) {
  #info-1 {
    grid-template-columns: 1fr;
  }

  #info-1 h1,
  #info-1 p,
  #info-1 .info-ol-list,
  #info-1 .info-ul-list,
  #info-1 .info-ul-list-2,
  #info-1 .info-ul-list-3,
  #info-1 #clientes-logo {
    grid-column: auto;
    grid-row: auto;
  }

  #info-1 #mini-card-container {
    grid-column: auto;
    grid-row: auto;
  }

  #info-1 #mini-card-container {
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  #main-info,
  .main-container h1,
  #main-images,
  #main-images {
    grid-column: auto;
    grid-row: auto;
  }
}

@media (max-width: 690px) {
  main #main-title {
    margin-top: 40px;
  }

  .container {
    padding-inline: 20px;
  }
}

@media (max-width: 530px) {
  main #main-title {
    font-size: var(--font-size-card-title);
  }

  .container {
    padding-inline: 20px;
  }
}

@media (max-width: 480px) {
  .image-2,
  .image-3,
  .image-4 {
    grid-column: 1 / -1;
  }

  #main.container {
    padding-inline: 10px;
  }
}

@media (max-width: 470px) {
  #info-1 h1 {
    font-size: var(--font-size-subtitle);
  }
}

.container {
  padding-inline: 20px;
}

/* Contato e Ouvidoria */
body#contato main,
body#ouvidoria main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h1-contato {
  margin-top: 60px;
  font-size: var(--font-size-title);
}

#text-contato {
  margin-top: 15px;
  color: #8b8b8b;
}

#h1-contato,
#text-contato {
  text-align: center;
}

/* Form */
#formContato {
  display: grid;
  max-width: 600px;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 24px;
  border: 2px solid var(--color-form);
  border-radius: 8px;
  margin-top: 20px;
}

#select {
  position: relative;
}

#formAssunto {
  position: relative;
}

#formArquivo {
  display: none;
  align-self: end;
}

#formArquivo.mostrar {
  display: block;
}

#formBtn {
  height: 80px;
  align-self: end;
}

#formContato input {
  margin-top: 8px;
}

#formContato label {
  display: block;
}

#formContato input,
#formMessagem textarea {
  border: 1px solid var(--color-form);
  border-radius: 8px;
  padding: 10px 12px;
  color: var(--color-text);
}

#formContato input:focus,
#formMessagem textarea:focus {
  border-color: var(--color-primary);
}

input:focus,
textarea:focus {
  outline: none;
}

#formContato input::placeholder {
  color: var(--color-tertiary);
  opacity: 50%;
}

#formArquivo {
  position: relative;
  align-self: end;
}

input[type='file'] {
  display: none;
}

label[for='file'] {
  font-size: var(--font-size-base);
  text-align: center;
}

#formArquivo span {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 12px;
  top: 100%;
  margin-top: 4px;
  color: var(--color-tertiary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#formBtn {
  margin-bottom: 5px;
}

#select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--color-form);
  border-radius: 8px;
  padding: 10px 12px;
  color: var(--color-text);
}

#assunto:focus + #select-button,
#assunto:checked + #select-button {
  border-color: var(--color-primary);
}

#select-button img {
  transition: transform 150ms ease-out;
}

#assunto:checked + #select-button img {
  transform: rotate(180deg);
}

#assunto {
  all: unset;

  position: absolute;
  inset: 0;
  opacity: 0;

  cursor: pointer;
  z-index: 3;
}

.option {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-inline: 5px;
  border-radius: 4px;
}

#options {
  position: absolute;
  display: none;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-form);
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  top: 45%;
  left: 5%;
  z-index: 5;
  font-size: 14px;
}

.option img {
  display: none;
  width: 0.3rem;
  height: auto;
  margin-left: auto;
}

.option:has(input:focus) {
  outline: 1px solid var(--color-form);
}

.option:has(input:checked),
.option:hover {
  background-color: var(--color-form);
}

.option:has(input:checked) img {
  display: block;
}

.option input[type='radio'] {
  all: unset;

  position: absolute;
  inset: 0;
  opacity: 0;

  cursor: pointer;
  z-index: 3;
}

#formAssunto:has(#assunto:checked) + #options {
  display: flex;
}

label[for='assunto'] {
  margin-bottom: 8px;
}

@media (max-width: 560px) {
  #formContato {
    grid-template-columns: 1fr;
  }

  #formNome,
  #formEmail,
  #formMessagem,
  #select,
  #formArquivo,
  #formBtn {
    grid-column: 1;
    grid-row: auto;
  }

  #h1-contato {
    line-height: 1.2;
  }
}
