#card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 60px;
}

@media (max-width: 920px) {
  #card-section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    margin-top: 30px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #card-section::-webkit-scrollbar {
    display: none;
  }

  #card-section .card-container {
    flex: 0 0 85%;
    scroll-snap-align: center;
  }
}
