#hero-section {
  position: relative;
  height: 623px;
  background-color: #d9d9d9;
  overflow: hidden;
  box-shadow: inset 0 -160px 46.9px -20px rgba(0, 0, 0, 0.55);
}

.slides-wrapper {
  display: flex;
  height: 100%;
  width: 400%;
  transition: margin-left 0.8s ease-in-out;
  position: relative;
}

.slide {
  position: relative;
  width: 25%;
  flex-shrink: 0;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding-bottom: 30px;
  align-items: flex-end;
}

.slide::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.55) 0%, transparent 80%);
  z-index: 2;
  pointer-events: none;
}

.slide h1 {
  font-family: var(--font-family-heading);
  color: var(--color-title-secondary);
  font-size: var(--font-size-title);
  font-weight: 700;
  line-height: 1.1;
  margin-left: 136px;
  position: relative;
  z-index: 3;
}

.img0 {
  background-image: url(../../assets/images/hero-section/0.png);
}
.img1 {
  background-image: url(../../assets/images/hero-section/1.png);
}
.img2 {
  background-image: url(../../assets/images/hero-section/2.png);
}
.img3 {
  background-image: url(../../assets/images/hero-section/3.png);
}

@media (max-width: 800px) {
  .slide h1 {
    margin-top: 50px;
    font-size: var(--font-size-card-title);
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .slide h1 {
    padding-inline: 10px;
    margin-left: 0;
  }
}
