#image-1-esgotamento-sanitario-fs {
  background: url(../../../../assets/images/obras/saneamento/esgotamento-sanitario-fs/1.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 497px;
}

#image-2-esgotamento-sanitario-fs {
  background: url(../../../../assets/images/obras/saneamento/esgotamento-sanitario-fs/2.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}

#image-3-esgotamento-sanitario-fs {
  background: url(../../../../assets/images/obras/saneamento/esgotamento-sanitario-fs/3.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}

#image-4-esgotamento-sanitario-fs {
  background: url(../../../../assets/images/obras/saneamento/esgotamento-sanitario-fs/4.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}
