#image-1-abastecimento {
  background: url(../../../../assets/images/obras/saneamento/abastecimento-agua-candeias-sfc-md/1.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 497px;
}

#image-2-abastecimento {
  background: url(../../../../assets/images/obras/saneamento/abastecimento-agua-candeias-sfc-md/2.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}

#image-3-abastecimento {
  background: url(../../../../assets/images/obras/saneamento/abastecimento-agua-candeias-sfc-md/3.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}

#image-4-abastecimento {
  background: url(../../../../assets/images/obras/saneamento/abastecimento-agua-candeias-sfc-md/4.png)
      50% / cover no-repeat,
    #d9d9d9;
  height: 195px;
}
